.posts {
    position: relative;
    padding-bottom: 80px;
    &-item {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    &-col:first-child {
        width: 50%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-col:last-child {
        width: 50%;
        padding: 0 40px 0 40px;
        background-color: #f9f9f9;
    }
    &-date {
        color: #505d68;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.65px;
        margin-top: 35px;
    }
    &-title {
        color: #505d68;
        font-size: 30px;
        letter-spacing: 0.9px;
        margin-top: 15px;
    }
    &-text {
        color: #505d68;
        font-size: 16px;
        line-height: 24.7px;
        letter-spacing: 0.8px;
        margin-top: 28px;
    }
    &-button {
        margin-top: 50px;
        width: 127px;
        height: 48px;
        border: 1px solid #000000;
        color: #021725;
        font-size: 14px;
        letter-spacing: 0.7px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s all;
        cursor: pointer;
        &:hover {
            transition: 0.3s all;
            color: #fff;
            background-color: #000;
        }
    }
    &-read-button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 80px;
        width: 238px;
        height: 57px;
        border: 1px solid #000000;
        color: #021725;
        font-size: 14px;
        letter-spacing: 0.7px;
        transition: 0.3s all;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        &:hover {
            transition: 0.3s all;
            color: #fff;
            background-color: #000;
        }
    }
}