.services {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &-col {
        width: 50%;
        height: 450px;
        img {
            width: 100%;
        }
    }
    &-col:last-child {
        background-color: #f9f9f9;
        padding: 0 75px 0 55px;
    }
    &-label {
        margin-top: 35px;
        color: #505d68;
        font-size: 45px;
        font-weight: 600;
        letter-spacing: 1.35px;
    }
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 65px;
    }
    &-text {
        width: 45%;
        color: #505d68;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.9px;
    }
    &-view {
        color: #505d68;
        font-size: 18px;
        letter-spacing: 0.9px;
        &-item {
            margin-top: 5px;
        }
    }
}