.work-portfolio {
    padding-top: 40px;
    &-text {
        margin-top: 50px;
        color: #021725;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.9px;
        text-align: center;
    }
}